# Application Configuration
NODE_ENV=production
# 내부 포트는 3000 고정
PORT=3000

# Database Configuration (SQLite)
DATABASE_URL=file:/app/prisma/database.db

# Docker Compose에서 사용하는 호스트 포트
# HOST_PORT=20005
